# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*dist/

data/large_movies.xml

# Sanal Ortam
venv/
env/
.venv/
.env/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Ortam Değişkenleri
.env

# IDE ve Editör Dosyaları
.idea/
.vscode/
*.swp
*.swo

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db